###### Load dataset

In [1]:
import pandas as pd
df = pd.read_csv("10yearAUSOpenMatches.csv")

###### Initial analysis

In [2]:
df.describe() # of no use for all the rows.
            # Why do I need the mean, std and other info for 'year'!

,year,ace1,ace2,double1,double2,fastServe1,fastServe2,avgFirstServe1,avgFirstServe2,avgSecServe1,avgSecServe2,total1,total2,winner1,winner2,error1,error2
count,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,847.000000,847.000000,847.000000,847.000000,1034.000000,1034.000000,1386.000000,1386.000000,1215.000000,1215.000000,1257.000000,1257.000000
mean,2008.987013,9.720779,6.961039,3.349928,4.450938,205.282172,202.700118,182.151122,180.422668,120.115087,119.687621,119.301587,98.965368,38.187654,30.332510,29.612570,37.154336
std,3.162708,6.499705,6.058791,2.686950,2.925694,11.944491,10.822653,10.886621,10.464320,57.870163,57.659297,30.662857,37.294925,16.405719,16.984043,17.812906,18.352096
min,2004.000000,0.000000,0.000000,0.000000,0.000000,8.000000,163.000000,85.000000,138.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2006.000000,5.000000,3.000000,1.000000,2.000000,198.000000,196.000000,175.000000,174.000000,135.000000,134.000000,97.000000,71.000000,28.000000,18.000000,17.000000,26.000000
50%,2009.000000,9.000000,5.000000,3.000000,4.000000,205.000000,202.000000,183.000000,181.000000,144.000000,143.000000,114.000000,94.000000,37.000000,28.000000,28.000000,37.000000
75%,2012.000000,13.000000,9.000000,5.000000,6.000000,213.000000,210.000000,190.000000,188.000000,151.000000,151.000000,139.000000,125.000000,48.500000,41.000000,40.000000,49.000000
max,2014.000000,43.000000,51.000000,23.000000,23.000000,235.000000,237.000000,212.000000,208.000000,184.000000,178.000000,256.000000,234.000000,99.000000,100.000000,104.000000,96.000000

In [3]:
df.columns

Index(['round', 'winner', 'results', 'year', 'gender', 'player1', 'player2',
       'country1', 'country2', 'firstServe1', 'firstServe2', 'ace1', 'ace2',
       'double1', 'double2', 'firstPointWon1', 'firstPointWon2',
       'secPointWon1', 'secPointWon2', 'fastServe1', 'fastServe2',
       'avgFirstServe1', 'avgFirstServe2', 'avgSecServe1', 'avgSecServe2',
       'break1', 'break2', 'return1', 'return2', 'total1', 'total2', 'winner1',
       'winner2', 'error1', 'error2', 'net1', 'net2'],
      dtype='object')

In [4]:
print("We have data for", df['year'].unique().size, "years")

We have data for 11 years

### Some interesting Questions!

###### How many rounds does a player need to play to become a champ? And what are those?

In [5]:
print("Number of rounds: ", df['round'].unique().size)
df['round'].unique()

Number of rounds:  7

array(['Final', 'semi', 'quarter', 'Fourth', 'Third', 'Second', 'First'],
      dtype=object)

###### What is the number of games played at each level for all 11 years?

In [6]:
df.groupby("round").size() # if we see how many games were played at each level.

round
Final       11
First      696
Fourth      88
Second     351
Third      174
quarter     44
semi        22
dtype: int64

We can see that, for obvious reasons, 'First' level was played the most. And the number decreases for each level. 

But, from level 4, to final, the number decreases exactly by the factor of 2.
But from 1st to 2nd it is almost by the factor of 2 but not exact. We can figure out the reason later.
Same with 2nd and 3rd and between 3rd and 4th. It is almost by the factor of 2 but not exact 2.

This is analyzed further in the analysis.

###### what is the number of games played over 11 years?

In [7]:
df.groupby("gender").size()

gender
m    1386
dtype: int64

We only have the data for men and 1386 games were played in that 11 years in Australian open.

###### what is the number of different players?

In [8]:
(df['player1'].append(df['player2'])).unique().size

381

So, to figure out total number of different players who played at Aus open for a period of 11 years can be found by appending both columns, then finding unique rows and counting them.

381 different players played.

###### what is the number of players who won?

In [9]:
print("Number of players who won: ", df.groupby("winner").size().size)
df.groupby("winner").size().sort_values(ascending = False).head()

Number of players who won:  251

winner
Roger Federer     63
Novak Djokovic    43
Rafael Nadal      41
Andy Murray       33
Andy Roddick      32
dtype: int64

In 1386 games, 251 different players win at several different levels.
Roger Federer won the most with 63 wins. 
It is important to make a note that the 2nd most wins by Djokovic is 20 less!

Apparently player1 for each game in the dataset has won the match. Player2 in each game has lost that particular match.

###### How many are yet to win?
So, now we know that 381 different players played Australian open. And we can also make a note of the fact that 130 players are yet to win.

###### Is there a guy who is yet to loose?

In [10]:
set(df['player1']).difference(set(df['player2']))

{'Vasek Pospisil'}

This guy Vasek Pospisil never lost Australian open in those 11 years. Let see how many appearnaces he had.?

In [11]:
# df["player1" == "Vasek Pospisil"]
df.loc[df['player1'] == "Vasek Pospisil"]

,round,winner,results,year,gender,player1,player2,country1,country2,firstServe1,...,return1,return2,total1,total2,winner1,winner2,error1,error2,net1,net2
1309,Second,Vasek Pospisil,3-6 7-6(6) 7-6(9) 6-1,2014,m,Vasek Pospisil,Matthew Ebden,CAN,AUS,60%,...,34%,30%,132,121,46.0,30.0,47.0,43.0,64%,74%
1379,First,Vasek Pospisil,6-4 6-3 6-4,2014,m,Vasek Pospisil,Samuel Groth,CAN,AUS,67%,...,39%,23%,94,74,31.0,35.0,17.0,25.0,60%,47%

Okay. Vasek Pospisil has two appearances in 2014 only. 

###### Why was he out of the tournament or did not make it to final if he has not lost any?

From https://matchstat.com/tennis/player/Vasek%20Pospisil, I get to re-confirm that he was scheduled for the 3rd round match against Stan Wawarinka.
![3 Games](./img/3games.png)

But, due to back injury, he withdrew from that game. For more details http://www.tennis.com/pro-game/2014/01/pospisil-withdraws-australian-open-wawrinka-fourth-round/50278/.

![withdraw](./img/withdraw.png)

###### The following analysis tells why number of games at each level doesn't differ by the factor of 2!

In [12]:
new_df = pd.DataFrame(df.groupby(['year', 'round']).size())
new_df = new_df.unstack(level = 0)

def highlight_last_row(s):
    return ['background-color: #7db4c6' if i == 1 else '' for i in range(len(s))]


def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'cyan' if val%2 != 0 and val != 1 else 'black'
    return 'color: %s' % color

# new_df.style.apply(highlight_last_row, axis = 0)
new_df.style.applymap(color_negative_red)

- https://stackoverflow.com/questions/18096748/pandas-dataframes-to-html-highlighting-table-rows
- https://pandas.pydata.org/pandas-docs/stable/style.html

###### So, this is why the number of games at each level doesn't differ by the factor of 2!